%section.profiles-page
  %h1 Member Profiles
  %h2 Who are the lovely folk that make up the Coderie?

  .profiles
    - profiles.each do |profile|
      %article.profile
        %h3= profile.name
        = link_to image_tag(profile.photo, title: "Photo for #{profile.name}", alt: "Photo for #{profile.name}"), profile_path(profile)
