//Homepage Terminal Code
.terminal-window{
  z-index: 99999999999;
  text-align: left;
  width: 80%;
  height: 360px;
  border-radius: 10px;
  margin: auto;
  margin-top: 0px;
  position: relative;
  @include box-shadow(1px 1px 8px #777);
  header{
    background: #E0E8F0;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
    .button{
      width: 12px;
      height: 12px;
      margin: 10px 4px 0 0;
      display: inline-block;
      border-radius: 8px;
    }
    .green{ background: #3BB662; }
    .yellow{ background: #E5C30F; }
    .red{ background: #E75448; }
  }
  .terminal{
    .arrow-cursor{
      font-size: 1.5em;
      color: $secondary;
    }
    //.blinking-cursor{
    //  width: 16px;
    //  background: white;
    //  height: 24px;
    //  opacity: 1;
    //  position:relative;
    //  bottom: -5px;
    //  left: 5px;
    //  display: inline-block;
    //  @include animation(blink 1.0s ease-in infinite);
    //}
    #sign-up-form{
      color: white;
      font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
      font-size: 11pt;
      background: #30353A;
      padding: 45px;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      top: 30px;
      bottom: 0;
      overflow: auto;
      .terminal-cmd-input{
        &:focus{
          outline: 0;
          box-shadow: 0;
        }
        width: 56%;
        position: relative;
        left: 5px;
        background: transparent;
        border: none;
        box-shadow: 0;
        color: white;
        font-size: 1.2em;
      }
    }
  }
}
.home{
  > h1{
    font-size: 4em;
    text-align: center;
    color: $white;
    margin-bottom: 0;
  }
}
.body-content#home-content{
  padding-top: 70px;
  position: relative;
  top: -60px;
  margin-bottom: -60px;
}