.container
  %section.home
    %h1 Coderie Code Monthly Meetup
    %div.terminal-window
      %header
        %div.button.green
        %div.button.yellow
        %div.button.red
      %div.terminal
        %div#sign-up-form
%section.body-content#home-content
  .container
    -#TODO: Change this tagline type hype line please dear god
    %h2.hype-text We think that you will love what we have to offer!
    .tight-container
      .row
        .full
          %aside.upcoming-meetups
          %h2 Upcoming Meetups
          -#- upcoming_meetups.each do |meetup|
          %article.upcoming-meetup
            -#TODO: Allow real data to flow here
            .row
              %h3 Monthly Meetup @ Radius CoWork Space - Lightning talks and fun!
              .fourth
                %h4 Startup time: 8:00PM
                %h4 Location: Radius CoWork
              .three-fourth
                %p A helper mixin enabling short-hand notation for directional properties. It accepts a prefix, suffix, and array of up to four values that map to top, right, bottom, and left, respectively. You can optionally pass in null for the suffix argument to ignore it. You can optionally pass a null argument for a directional value to ignore it.
            -#%h3= meetup.name
            -#%h4= meetup.starts_at


    .row.icon-row
      .third
        %figure.upcoming-meetups
          = link_to root_path do
            =image_tag 'bulb.png', :class => 'bulb'
            =image_tag 'bulb.gif', :class => 'invisible'
            %h2.text-center Industry Insight

      .third
        %figure
          = link_to root_path do
            =image_tag 'microphone.png', :class => 'microphone'
            =image_tag 'microphone.gif', :class => 'invisible'

            %h2.text-center Lightning Talks

      .third
        %figure
          = link_to root_path do
            =image_tag 'brain.png', :class => 'members'
            =image_tag 'brain.gif', :class => 'invisible'
            %h2.text-center Our Members
