//navigation styles
nav{
  float:left;
  padding: 10px 0;
  ul{
    margin: 0;
    padding: 0;
    li{
      margin: 0;
      padding: 10px 10px;
      display: inline-block;
      a{
        display: block;
        font-family: "Lato Bold", sans-serif;
        text-decoration: none;
        color: $primary-dk;
        padding: 10px 15px;
        &:hover{
          color: $primary;
        }
      }
    }
  }
}
.nav-wrap{
  float: right;
}