//Global App Styles and Vars
//========Color scheme

//primary colors
$primary: #4A90E2; //Bright Blue
$primary-dk: #1F4889;
$primary-lt: #CCE2FF;

//secondary colors
$secondary: #3EE900; //Neon Green
$secondary-dk: #B8E986;
$secondary-lt: #DDEFCA;

//tertiary & system colors
$danger: #F44336;
$gray: #EAE9E9;
$black: #000;
$white: #fff;

//============fonts and typography

//primary bold font(s)
@include font-face("Primary Bold", "AlegreyaSans-Bold", bold);
@include font-face("Lato Bold", "Lato-Bold", bold);


.brand{
  margin-top: 10px;
  .brandmark {
    max-width: 55px;
    margin-right: 3px;
    margin-bottom: -5px;
  }
  a{
    display: block;
    color: $primary-dk;
    font-size: 2em;
    padding-top: 5px;
    text-decoration: none;
    font-family: "Primary Bold", sans-serif;
  }
  span{
    display:inline;
    padding: 0;
    margin: 0;

  }
  .cod{color: $black;}
  .rie{color:$primary;}
}
//basic utils
.invisible{
  display: none;
}

//Random Animations
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}