
body{
  background: $primary-lt;
}
//basic grid
.tight-container{
  padding: 0 110px;
}
.container {
  @include outer-container;
  .row{
    @include row();
  }
  .half{
    @include span-columns(6 of 12);
  }
  .third{
    @include span-columns(4 of 12);
    &:last-child{
      @include omega();
    }
  }
  .two-third{
    @include span-columns(8 of 12);
    &:last-child{
      @include omega();
    }
  }
  .fourth{
    @include span-columns(3 of 12);
  }
  .three-fourth{
    @include span-columns(9 of 12);
  }
  .full{
    @include fill-parent();
  }
}
.body-content{
  @include fill-parent();
  background: white;
  padding-bottom: 50px;
  margin-bottom: 0;
}